<!-- hero app -->
<section class="sect hero">
  <div class="container wn_flex_content">
    <div class="hero_content wn_flex_details">
      <h1 class="hero_content_title">Staff Profiles</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
        faucibus magna nisl hendrerit varius. Praesent efficitur nisi ultrices
        tellus semper vehicula in a tortor.
      </p>
      <form action="" class="dis-flex">
        <div class="input_field dis-flex">
          <img src="../../../assets/img/svg/Search.svg" alt="" />
          <input type="text" placeholder="Search" />
        </div>
        <button class="btn prim_btn">Search</button>
      </form>
    </div>
    <div class="wn_flex_img">
      <img src="../../../assets/img/hero_student.png" alt="" />
    </div>
  </div>
</section>

<!-- What to do -->
<section class="sect what_to">
  <div class="container">
    <div class="head" style="text-align: center; margin-bottom: 2rem">
      <h2>Staff</h2>
      <p style="margin-top: 1rem">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        cursus eleifend sem, ac vehicula nisi biben dum id. Nam ut lacus Integer
        sit amet blandit
      </p>
    </div>
    <div class="card">
      <div class="card_item">
        <img
          src="../../../assets/img/staffs/Professor_A.A_Adebowale.png"
          alt=""
          class="profile_pic"
        />
        <div class="">
          <h3>Professor A.A Adebowale</h3>
          <p class="dis-flex">
            <img src="../../../assets/img/svg/bx-envelope.svg" alt="" />
            johndoe@mail.com
          </p>
          <p class="dis-flex">
            <img src="../../../assets/img/svg/bx-phone.svg" alt="" />(234) 90
            000 000 0000
          </p>
        </div>
        <button class="btn sec_btn">View profile</button>
      </div>
      <div class="card_item">
        <img
          src="../../../assets/img/unsplash_5aGUyCW_PJw.png"
          alt=""
          class="profile_pic"
        />
        <div class="">
          <h3>John Doe</h3>
          <p class="dis-flex">
            <img src="../../../assets/img/svg/bx-envelope.svg" alt="" />
            johndoe@mail.com
          </p>
          <p class="dis-flex">
            <img src="../../../assets/img/svg/bx-phone.svg" alt="" />(234) 90
            000 000 0000
          </p>
        </div>
        <button class="btn sec_btn">View profile</button>
      </div>
      <div class="card_item">
        <img
          src="../../../assets/img/unsplash_aoEwuEH7YAs.png"
          alt=""
          class="profile_pic"
        />
        <div class="">
          <h3>John Doe</h3>
          <p class="dis-flex">
            <img src="../../../assets/img/svg/bx-envelope.svg" alt="" />
            johndoe@mail.com
          </p>
          <p class="dis-flex">
            <img src="../../../assets/img/svg/bx-phone.svg" alt="" />(234) 90
            000 000 0000
          </p>
        </div>
        <button class="btn sec_btn">View profile</button>
      </div>
    </div>
  </div>
</section>
