<!-- hero app -->
<section class="sect hero">
  <div class="container wn_flex_content">
    <div class="hero_content wn_flex_details">
      <h1 class="hero_content_title">Wall of Names</h1>
      <p>
        The University of Ibadan has twelve Halls of Residence (ten
        undergraduate and two postgraduate), with a total optimum capacity of
        nearly 8,000.
      </p>
    </div>
    <div class="wn_flex_img">
      <img src="../../../assets/img/hero_home.png" alt="" />
    </div>
  </div>
</section>

<section class="about sect">
  <div class="container">
    <div class="title">
      <h2>About Wall of Names</h2>
    </div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
        faucibus magna eu nisl hendrerit varius. Praesent efficitur nisi
        ultrices tellus semper vehicula in a tortor. Donec ornare justo diam, ut
        facilisis mi cursus placerat.
      </p>
      <p>
        Nam sollicitudin, quam sed blandit blandit, mi ante ultricies orci,
        pellentesque consectetur ante quam sit amet sapien. Aliquam eu sem ex.
        Maecenas et condimentum lorem, in molestie turpis. Etiam id lorem sit
        amet orci hendrerit dictum. In tristique est id purus malesuada semper.
        Proin porttitor sollicitudin felis nec lacinia. In in ex quam. Donec
        elementum ante vel egestas sollicitudin.
      </p>
    </div>
  </div>
</section>

<!-- Alumnis -->
<section class="sect">
  <div class="container wn_flex_content row-reverse">
    <div class="wn_flex_details">
      <small class="extra prim">Wall of Names</small>
      <h2 class="">Wall of names designed for alumni.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
        faucibus magna eu nisl hendrerit varius. Praesent efficitur nisi
        ultrices tellus semper vehicula in a tortor. Donec ornare justo diam, ut
        facilisis mi cursus placerat
      </p>
      <button class="btn sec_btn">Get Started</button>
    </div>
    <div class="wn_flex_img">
      <img src="../../../assets/img/unsplash_K3e0hl0ytsU (1).png" alt="" />
    </div>
  </div>
</section>

<!-- Staff -->
<section class="sect">
  <div class="container wn_flex_content">
    <div class="wn_flex_details">
      <small class="extra tert">Wall of Names</small>
      <h2 class="">Suitable for getting staff profiles</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
        faucibus magna eu nisl hendrerit varius. Praesent efficitur nisi
        ultrices tellus semper vehicula in a tortor. Donec ornare justo diam, ut
        facilisis mi cursus placerat
      </p>
      <button class="btn tert_btn">Get Started</button>
    </div>
    <div class="wn_flex_img">
      <img src="../../../assets/img/unsplash_K3e0hl0ytsU (2).png" alt="" />
    </div>
  </div>
</section>
