//-- Colors starts --//
$font-semi: 600;
$primary-color:#1D1D6D;
$secondary-color: #0e2431;
$tertiary-color: #FF9934;
$dark-sec-color: #040B0F;
$white-color: #ffffff;
//-- Colors ends --//

$font-size-normal: 0.938rem;
$box-shadow: 0 4px 25px rgba(14,36,49,.15);

//-- border starts --//
$border-radius1: 5px;
$border-radius2: $border-radius1 + 5;
//-- border starts --//
//-- Spacing starts --//
$m-1: 0.5rem;
$m-2: 1rem;
$m-3: 1.5rem;
$m-4: 2rem;
$m-5: 2.5rem;
$m-6: 3rem;
//-- Spacing ends --//
